* {
    box-sizing: border-box;
}

.bg {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 36%;
}

.header {
    text-align: center;
    color: var(--primary);
    margin-bottom: 32px;
}

.header > h2 {
    margin: 0 0 12px 0;
}

.cardContent {
    background-color: var(--card);
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--border);
}
.titleGroup {
    margin-bottom: 12px;

}

.title {
    font-size: 20px;
    margin: 0 0 8px 0;
}

.subTitle {
    font-size: 14px;
}

.uploadField {
    width: 100%;
    height: 140px;
    /* background-color: aliceblue; */
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--foreground);
    
}

.uploadField:hover {
    color: var(--accent-foreground);
}

.uploadField > input {
    display: none;
}

.receivedContent {
    font-size: 14px;
    padding: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.audioIconContainer {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in oklab, var(--primary) 10%, transparent);
    border-radius: 16px;
}

.fileInfor {
    font-size: 14px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fileName {
    font-weight: 600;
}

.buttonGroup {
    display: flex;
    gap: 12px;
}

.buttonGroup > div,
.btnDownload {
    padding: 10px 18px;
}

.btnPrv,
.btnDownload {
    flex: 1;
}

.btnPrv,
.btnDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    gap: 16px;
    background-color: var(--primary);
    color: var(--primary-foreground);
}

.btnPrv > span,
.btnChange > span,
.btnDownload > span {
    font-size: 14px;
    font-weight: 500;
}

.btnPrv:hover,
.btnDownload:hover {
    background-color: color-mix(in oklab, var(--primary) 90%, transparent);
}

.btnDownload:hover > span {
    color: var(--accent-foreground);
}

